{% extends "forums/base.html" %}

{% block content %}
    <div class="container">
        <div class="mt-5  mb-5 p-5 bg-dark text-white rounded">
            <h1>Правила Форуму</h1> 
        </div>
        <div class="m-5">
            <h2>Що дозволяється на форуммах</h2>
            <h6 class="">
                <ol>
                    <li class="mt-3">Форуми побудовані на відкритості та взаємній повазі. Кожен учасник Спільноти читачів має право на власну думку. Навіть якщо іншим вона здається неправильною.</li>
                    <li class="mt-3">
                        Усі учасники форуму мають повне право на критику текстів, що обговорюються. При цьому слід пам'ятати, що перехід на особи інших учасників дискусії чи авторів — свідчення слабкої позиції у суперечці.
                    </li>
                    <li class="mt-3">
                        Перед публікацією повідомлення варто задуматися про те, чи акуратно викладено факти, чи коректні зроблені оцінки. Інакше може постраждати як авторитет учасника Співтовариства, і загальний рівень дискусії.
                    </li>
                    <li class="mt-3">
                        Учасники Співтовариства можуть розміщувати повідомлення на форумі у будь-який час дня та ночі. Ми докладемо всіх зусиль, щоб у наших користувачів не виникало проблем у спілкуванні з нашими сайтами. Якщо такі проблеми виникають, ми завжди раді допомогти по лінії зворотного зв'язку
                    </li>
                    <li class="mt-3">
                        Повідомлення, написане на форумі гарною російською мовою, буде прочитане іншими зі значно більшим полюванням та увагою.
                    </li>
                    <li class="mt-3">
                        Більшість повідомлень зазвичай укладаються у 1000 знаків із пробілами. Для відліку знаків у повідомленні є спеціальний лічильник. Якщо автору не вистачає цього обсягу, він завжди може розбити повідомлення на частини. Помічено, що довгі заплутані повідомлення викликають менше інтересу у читачів, ніж короткі та ясні.
                    </li>
                    <li class="mt-3">
                        Не варто використовувати для написання одного або всіх слів у повідомленні великі літери або Плаваючий шрифт (якщо це, звичайно, не всім відома абревіатура). Серед учасників Співтовариства не знайде відгук зловживання смайликами тощо символами псевдографіки.
                    </li>
                    <li class="mt-3">
                        На наших форумах не прийнято без особливої потреби цитувати власні та чужі повідомлення повністю. Це завдає незручності при прочитанні всієї галузі обговорення.
                    </li>
                    <li class="mt-3">
                        Ми готові у найкоротший термін реагувати на скарги учасників Співтовариства. Щоб повідомити про порушення цих Правил, Ви можете натиснути на посилання «скарга» поряд із повідомленням-порушником. Однак ми розраховуємо, що учасники Співтовариства не зловживатимуть цією можливістю.
                    </li>
                    <li class="mt-3">
                        Якщо учасник Співтовариства бажає написати повідомлення, яке суперечить цим правилам, не варто робити цього публічно. Подібне повідомлення завжди можна надіслати у вигляді листа до редакції (ця опція є для кожної статті). Ми уважно читаємо усі листи читачів.
                    </li>
                </ol>
            </h6>
            <h2>Що на форумах заборонено</h2>
            <h6>
                <ol>
                    <li class="mt-3">На форумах, як, зрештою, і скрізь, не можна порушувати закони України.</li>
                    <li class="mt-3">Ми категорично наполягаємо на тому, щоб учасники Співтовариства не використовували для входу до Спільноти читачів та повідомлень чужі чи хибні особисті дані та не передавали іншим свої дані. Одночасний доступ за тими самими даними буде автоматично заблокований.</li>
                    <li class="mt-3">Усі учасники Співтовариства на форумі – наші гості. Вони не мають права ображати та принижувати один одного.</li>
                    <li class="mt-3">Ми не бажаємо «у своєму домі» чути образи, погрози та звинувачення у будь-якій формі (у тому числі у вигляді запитань та припущень) на адресу редакції та авторів видань, адміністраторів сайтів. Не можна дозволяти собі публічні висловлювання, що применшують честь, гідність та ділову репутацію власників форумів. Втім, ми залишаємо учаснику Співтовариства можливість висловлювати все, що завгодно в непублічному режимі (Див. п. 10 розділу 1).</li>
                    <li class="mt-3">Якщо учасник Співтовариства побажає розмістити на форумі рекламу (сайтів, продуктів, послуг тощо), йому необхідно придбати рекламу на сайті. На форумі рекламу заборонено. Ми також сподіваємося, що охочі зайнятися жебрацтвом знайдуть для цього інше місце.</li>
                    <li class="mt-3">Не можна лаятися матом у явному чи завуальованому вигляді: це можуть почути жінки та діти.</li>
                    <li class="mt-3">Не можна розголошувати на наших форумах особисту інформацію про інших учасників або будь-яку іншу інформацію, розголошувати яку не слід.</li>
                    <li class="mt-3">Не варто засмічувати форуми однотипними або беззмістовними повідомленнями, а також повідомленнями, що не належать до обговорюваної теми, а також провокаційними повідомленнями з метою викликати конфлікти між учасниками форуму (тролінг).</li>
                    <li class="mt-3">Адміністрація форумів – це суддя на ігровому полі. Сперечатись із суддею чи обговорювати його рішення публічно не можна.</li>
                </ol>
            </h6>

            <h3 class="mt-5">Приємного спілкування :)</h6>
        </div>
    </div>
{% endblock content %}