{% extends 'forums/base.html' %}

{% block content %}
<div class="container">
     <div class="mt-5  mb-5 p-5 bg-dark text-white rounded">
          <h1>Тема: {{ topic }}</h1>
     </div>
     
     <h2>Коментарі:</h3>
     {% for comment in comments %}
          {% if comment.approved_comment %}
               <div class="comment mx-3">
                    <h4 class="info"> {{ comment.author }}</h4>
                    <h5 class="px-3 text-muted">{{ comment.text|linebreaks }}</h5>
               </div>
          {% endif %}
     {% empty %}
          <p>No comments yet.</p>
     {% endfor %}
     {% if user.is_authenticated %}
     <h3 class=""><a class="mt-4 text-end nav-link" href="{% url 'forums:new_comment' topic.id %}">Add comment</a></h3>
     {% else %}
     {% endif %} 
</div>
     
{% endblock content %}