{% extends 'forums/base.html' %}

{% block content %}
     <p>Тема: {{ topic }}</p>
     <h3>Comments:</h3>
     {% for comment in comments %}
          {% if comment.approved_comment %}
               <div class="comment">
                    <p class="info">Comment by {{ comment.author }} on {{ comment.created_date }}</p>
                    <p>{{ comment.text|linebreaks }}</p>
               </div>
          {% endif %}
     {% empty %}
          <p>No comments yet.</p>
     {% endfor %}
     <h3>Add comment:</h3>
     <a href="{% url 'forums:new_comment' topic.id %}">Add comment</a>
{% endblock content %}